body,
html {
    height: 100%;
    background-color: #fcfcfc;
    font-family: 'Microsoft YaHei UI', Courier, monospace;
}


.center {
    margin-top: 1%;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    align-items: center;
    position: relative;
    display: block;

}


.img-class {
    width: 200px;
    height: 200px;
}

.login-center {
    width: 300px;
    height: 600px;

}

.visual {
    border: 1px solid black;
}

.button-small {
    background: #1749FF;
    color: white;
    float: left;
    border-radius: 57px;
    border: 0px;
    height: 40px;
    transition: all 0.4s ease 0s;
}

.button-small:hover {
    background: #3661ff;

}