{% extends 'base.html' %}

{% block title %} Approve Worktime {% endblock title %}

{% block page_header %}
<h3>Approve worktime</h3>
<br>
{% endblock page_header %}

{% block content %}

<div class="container">
    <div class="vacation-requests-personal overflow-hidden">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-limited">
                <thead>
                    <tr>
                        <th class="row-sm">Worker-Name</th>
                        <th class="row-sm">Worker-Id</th>
                        <th class="row-sm">Worked-Hours</th>
                        <th class="row-sm">Target-Hours</th>
                        <th class="row-sm">Time Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{User.query.filter_by(id=user.id).first().full_name}}</td>
                        <td>{{User.query.filter_by(id=user.id).first().id}}</td>
                        <td>{{User.query.filter_by(id=user.id).first().worked_hours}}</td>
                        <td>{{User.query.filter_by(id=user.id).first().target_hours}}</td>
                        <td>{{User.query.filter_by(id=user.id).first().worked_hours - hours_till_today}}</td>
                        <form action=""></form>
                        {% if User.query.filter_by(id=user.id).first().worked_hours_approved == True %}
                        <td><button class="btn btn-info btn-sm" disabled>Approved!</button></td>

                        {% else %}
                        <form method="POST">
                            <td><button class="btn btn-success btn-sm" name="accept-button"
                                    value="{{user.id}}">Accept</button>
                            </td>
                            <td><button class="btn btn-danger btn-sm" name="reject-button"
                                    value="{{user.id}}">Reject</button>
                            </td>
                        </form>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}