{% extends 'base.html' %}

{% block title %}Illness{% endblock title %}

{% block page_header %}
<h3>Upload your medical certificate here</h3>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="content-box">
        <form method="POST">
            <div class="container">
                <div class="md-form mx-5 my-5">
                    <label for="start-date">Please choose the absence start date</label>
                    <input type="date" name="start_date" id="start-date" class="form-control" required>
                </div>
                <div class="md-form mx-5 my-5">
                    <label for="end-date">Please choose the the absence end date</label>
                    <input type="date" name="end_date" id="end-date" class="form-control" required>
                </div>
                <div class="md-form mx-5 my-5">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="md-form mx-5 my-5">
                    <button type="submit" class="btn btn-primary">Submit your medical certificate!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}