{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<form method="POST">
    <div class="container smaller-container">
        <img src="{{url_for('static', filename='STC.png')}}" alt="Logo" class="logo">

        <div class="jumbotron">

            <div class=" form-group">
                <label for="email-id">E-Mail</label>
                <input type="text" class="form-control" id="email-id" placeholder="E-Mail" name="email">
            </div>
            <div class="form-group">
                <label for="password-id">Password</label>
                <input type="password" class="form-control" id="password-id" placeholder="Password" name="passwor">
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" name="submit">
            </div>
        </div>
    </div>
</form>

{% endblock content %}