{% extends 'base.html' %}


{% block title %}Vacation{% endblock title %}


{% block page_header %}
<h3>Book your vacation</h3>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <form method="POST">
                <div class="container">
                    <div class="md-form mx-5 my-5">
                        <label for="start_date">Please choose the date you want your vacation to start</label>
                        <input type="date" name="start_date" id="start_date" class="form-control" required>
                    </div>
                    <div class="md-form mx-5 my-5">
                        <label for="end_date">Please choose the date you want your vacation to end</label>
                        <input type="date" name="end_date" id="end_date" class="form-control" required>
                    </div>
                    <div class="md-form mx-5 my-5">
                        <button type="submit" class="btn btn-primary">Submit your vacation!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
            <div class="requests">
                <table class="table">
                    <thead>
                        <tr>

                            <th class="col">Start-Date</th>
                            <th class="col">End-Date</th>
                            <th class="col">Approved?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <td>{{request.start_date}}</td>
                            <td>{{request.end_date}}</td>
                            <td>{{request.approved}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}