{% extends 'base.html' %}

{% block title %} Open Vacation Requests {% endblock title %}



{% block page_header %}
<h3>Open Vacation Requests</h3>
{% endblock page_header %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th class="col">Worker-Name</th>
            <th class="col">Worker-Id</th>
            <th class="col">Start-Date</th>
            <th class="col">End-Date</th>
            <th class="col">Approved?</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{User.query.filter_by(id=request.user_id).first().full_name}}</td>
            <td>{{User.query.filter_by(id=request.user_id).first().id}}</td>
            <td>{{request.start_date}}</td>
            <td>{{request.end_date}}</td>
            <td>{{request.approved}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}