{% extends 'base.html' %}

{% block title %} Open Vacation Requests {% endblock title %}



{% block page_header %}
<h3>Open Vacation Requests</h3>
{% endblock page_header %}


{% block content %}
<div class="container">
    <div class="vacation-requests-personal">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="row-md">Worker-Name</th>
                    <th class="row-md">Worker-Id</th>
                    <th class="row-md">Start-Date</th>
                    <th class="row-md">End-Date</th>
                    <th class="row-md">Approved?</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{User.query.filter_by(id=request.user_id).first().full_name}}</td>
                    <td>{{User.query.filter_by(id=request.user_id).first().id}}</td>
                    <td>{{request.start_date}}</td>
                    <td>{{request.end_date}}</td>
                    <td>{{request.approved}}</td>
                    {% if request.approved == True %}
                    <td><button class="btn btn-success" disabled>Accept</button></td>
                    <td><button class="btn btn-danger" disabled>Reject</button></td>
                    {% else %}
                    <td><button class="btn btn-success">Accept</button></td>
                    <td><button class="btn btn-danger">Reject</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}