{% extends 'base.html' %}


{% block title %}Vacation{% endblock title %}


{% block page_header %}
<h3>Book your vacation</h3>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-sm-9">
            <div class="content-box">
                <form method="POST">
                    <div class="container">
                        <div class="md-form mx-5 my-5">
                            <label for="start_date">Please choose the date you want your vacation to start</label>
                            <input type="date" name="start_date" id="start_date" class="form-control" required>
                        </div>
                        <div class="md-form mx-5 my-5">
                            <label for="end_date">Please choose the date you want your vacation to end</label>
                            <input type="date" name="end_date" id="end_date" class="form-control" required>
                        </div>
                        <div class="md-form mx-5 my-5">
                            <button type="submit" class="btn btn-primary">Submit your vacation!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="content-box">
                <div class="content-section">
                    <h4>Your open vacation requests</h4>
                    <p class='text-muted'>
                        You can withdraw your vacation requests one week before the vacation begins.
                    </p>
                    <ul class="list-group">
                        {% for request in requests %}
                        {% if request.approved == False %}
                        <li class="list-group-item list-group-item-light individual-request"
                            style="border-radius: 1em; margin:5px 1em">
                            Start date: <strong>{{request.start_date}}</strong>
                            <br>
                            End date: <strong>{{request.end_date}}</strong>
                            <br>
                            Approved: <strong>{{request.approved}}</strong>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-9">
            <div class="content-box">
                <h4>Accepted Vacation</h4>
                <div class="row">
                    {% for request in requests %}
                    {% if request.approved == True %}
                    <div class="col-6 col-sm-4 vacation-requests-personal" style="border-radius: 1em; margin:5px 1em">
                        Start date: <strong>{{request.start_date}}</strong>
                        <br>
                        End date: <strong>{{request.end_date}}</strong>
                        <br>
                        Approved: <strong>{{request.approved}}</strong>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>



    {% endblock content %}